
.my-column{
    flex-shrink: 1;
}

.my-column-container{
    display: flex;
    flex-direction: row;
    height: 100dvh;
    padding: 15px;
    gap: 5px;
}

.button-size{
  min-width: 78px;
}

.button-spacing{
  margin: 1px;
}